global:
  domain: api.polinetwork.org

configs:
  repositoriesAnnotations:
    managed-by: argocd.argoproj.io
  cm:
    url: https://argocd.polinetwork.org
    "users.anonymous.enabled": true

  rbac:
    "policy.default": 'role:admin'
    "policy.csv": |
      p, role:org-admin, applications, *, */*, allow
      p, role:org-admin, clusters, get, *, allow
      p, role:org-admin, repositories, get, *, allow
      p, role:org-admin, repositories, create, *, allow
      p, role:org-admin, repositories, update, *, allow
      p, role:org-admin, repositories, delete, *, allow
      p, role:org-admin, logs, get, *, allow
      p, role:org-admin, exec, create, */*, allow
      g, "ArgocdAdmins", role:org-admin
      g, "AppDevelopers", role:readonly
      g, "PolimiDevelopers", role:readonly

controller:
  resources:
    requests:
      cpu: "50m"
      memory: "200Mi"
    limits:
      cpu: "200m"
      memory: "600Mi"

server:
  resources:
    requests:
      cpu: "50m"
      memory: "300Mi"
    limits:
      cpu: "200m"
      memory: "600Mi"
